body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .quote-container {
    font-family: 'Arial', sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .quote-container.fade-in {
    opacity: 1;
    transform: translateX(0);
  }
  
  #generate-button {
    margin-top: 10px;
  }
  